@page
@model SsPWeb.Pages.Students.ListModel
@{
    ViewData["Title"] = "List of students";
}

<h2>
    Students Record
</h2>
<div class="row  justify-content-end">
    <a class="btn btn-success text-white" asp-page="upsertStudent">
        <i class="bi bi-pencil-square"></i>&nbsp;Create new student
    </a>
</div>
<hr />
@if (Model.Students.Any())
{
    <div class="border shadow table-responsive p-5">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Lonestar Number</th>
                    <th>Orange Number</th>
                    <th>WhatApp Number</th>
                    <th>Dob</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students.OrderBy(x => x.Name))
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @(item.Record == null ? "No address assigned." : item.Record.Address)
                        </td>
                        <td>
                            @(item.Record == null ? "No Lonestar # assigned." : item.Record.LonestarNumber)
                        </td>
                        <td>
                            @(item.Record == null ? "No Orange # assigned." : item.Record.OrangeNumber)
                        </td>
                        <td>
                            @(item.Record == null ? "No WhatApp # assigned." : item.Record.WhatAppNumber)
                        </td>
                        <td>
                            @(item.Record == null ? "No WhatApp # assigned." : item.Record.Dob.Value.ToShortDateString())
                        </td>
                        <td>
                            <a class="btn btn-success text-white mb-1" style="width:80px;" asp-page="upsertStudent" asp-route-id="@item.Id">
                                <i class="bi bi-pencil"></i>&nbsp;</a>
                            <a class="btn btn-danger text-white mb-1" style="width:80px;" asp-page="deleteStudent" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i>&nbsp;</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}
else
{
    <text>No record has been added.</text>
}

